USE [master]
GO
/****** Object:  Database [QLThueBaoDB]    Script Date: 4/29/2025 6:18:19 PM ******/
CREATE DATABASE [QLThueBaoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueBaoDB', FILENAME = N'D:\Databases\QLThueBaoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueBaoDB_log', FILENAME = N'D:\Databases\QLThueBaoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueBaoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueBaoDB]
GO
/****** Object:  Table [dbo].[ThueBao]    Script Date: 4/29/2025 6:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueBao](
	[SoThueBao] [nvarchar](10) NOT NULL,
	[SoDu] [float] NOT NULL,
	[Loai] [int] NOT NULL,
 CONSTRAINT [PK_ThueBao] PRIMARY KEY CLUSTERED 
(
	[SoThueBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueBao_KhuyenMai]    Script Date: 4/29/2025 6:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueBao_KhuyenMai](
	[SoThueBao] [nvarchar](10) NOT NULL,
	[KhuyenMai] [nvarchar](3) NOT NULL,
	[ThoiDiemApDung] [datetime] NOT NULL,
 CONSTRAINT [PK_ThueBao_KhuyenMai_1] PRIMARY KEY CLUSTERED 
(
	[SoThueBao] ASC,
	[ThoiDiemApDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThueBao] ([SoThueBao], [SoDu], [Loai]) VALUES (N'0782730023', 10000, 1)
INSERT [dbo].[ThueBao] ([SoThueBao], [SoDu], [Loai]) VALUES (N'0816245223', 50000, 3)
INSERT [dbo].[ThueBao] ([SoThueBao], [SoDu], [Loai]) VALUES (N'0945287617', 50000, 2)
GO
INSERT [dbo].[ThueBao_KhuyenMai] ([SoThueBao], [KhuyenMai], [ThoiDiemApDung]) VALUES (N'0782730023', N'ABC', CAST(N'2025-04-29T11:40:51.910' AS DateTime))
INSERT [dbo].[ThueBao_KhuyenMai] ([SoThueBao], [KhuyenMai], [ThoiDiemApDung]) VALUES (N'0782730023', N'XYZ', CAST(N'2025-04-29T11:41:41.980' AS DateTime))
INSERT [dbo].[ThueBao_KhuyenMai] ([SoThueBao], [KhuyenMai], [ThoiDiemApDung]) VALUES (N'0782730023', N'ABC', CAST(N'2025-04-29T12:14:22.927' AS DateTime))
GO
ALTER TABLE [dbo].[ThueBao_KhuyenMai] ADD  CONSTRAINT [DF_ThueBao_KhuyenMai_ThoiDiemApDung]  DEFAULT (getdate()) FOR [ThoiDiemApDung]
GO
ALTER TABLE [dbo].[ThueBao_KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_ThueBao_KhuyenMai_ThueBao] FOREIGN KEY([SoThueBao])
REFERENCES [dbo].[ThueBao] ([SoThueBao])
GO
ALTER TABLE [dbo].[ThueBao_KhuyenMai] CHECK CONSTRAINT [FK_ThueBao_KhuyenMai_ThueBao]
GO
ALTER TABLE [dbo].[ThueBao]  WITH CHECK ADD  CONSTRAINT [CK_SoThueBao] CHECK  ((len([SoThueBao])=(10) AND [SoThueBao] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[ThueBao] CHECK CONSTRAINT [CK_SoThueBao]
GO
ALTER TABLE [dbo].[ThueBao]  WITH CHECK ADD  CONSTRAINT [CK_ThueBao] CHECK  (([Loai]=(1) OR [Loai]=(2) OR [Loai]=(3)))
GO
ALTER TABLE [dbo].[ThueBao] CHECK CONSTRAINT [CK_ThueBao]
GO
ALTER TABLE [dbo].[ThueBao_KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai] CHECK  (([KhuyenMai]='ABC' OR [KhuyenMai]='XYZ' OR [KhuyenMai]='JKL'))
GO
ALTER TABLE [dbo].[ThueBao_KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai]
GO
USE [master]
GO
